.team-flag-small img {
    width:50px;
    border: 1px solid #ACACAC;
}

.team-flag-medium img {
    width:100px;
    border: 1px solid #ACACAC;

}

.team-flag-tiny img {
    width: 30px;
    border: 1px solid #676767;
}