{% macro showTeam(teamInTournament,position) %}
    <div class="row">
        {% if position == 'left' %}
            <div class="col-md-2 team-flag-small">
                <img src="{{ teamInTournament.team.flag }}"/>
            </div>
        {% endif %}
        <div class="col-md-10">
            <h2> <a href="{{ path('tournament_team_show', { 'id' : teamInTournament.id }) }}">{{ teamInTournament.team.name }}</a></h2>
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Número</th>
                        <th>Nombre y Apellido</th>
                        <th>DNI</th>
                        <th>Fecha de nacimiento</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in teamInTournament.players %}
                        <tr>
                            <td>{{ player.number }}</td>
                            <td><a href="{{ path('tournament_player_edit',{ 'childId':player.id }) }}">{{ player }}</a></td>
                            <td>{{ player.dni }} </td>
                            <td> {{ player.birth |date('d/m/Y') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if position == 'right' %}
            <div class="col-md-2  team-flag-small">
                <img src="{{ teamInTournament.team.flag }}"/>
            </div>
        {% endif %}
    </div>
{% endmacro %}


{% macro match_result(match) %}

    {% if ( ( match.getLocalParticipation()) and (match.getVisitorParticipation()) ) %}
        {% set local =  match.getLocalParticipation() %}
        {% set visitor = match.getVisitorParticipation() %}
        {% if (match.getVisitorGoals() < match.getLocalGoals()) %}
            <dt>Ganador </dt><dd> {{ match.local }} </dd>
        {% elseif (match.getVisitorGoals() > match.getLocalGoals())%}
            <dt>Ganador </dt><dd> {{ match.visitor }} </dd>
        {% else %}
            <dt>Empate</dt><dd></dd>
        {% endif %}
        <dt>{{ match.local }}</dt><dd>{{ match.getLocalGoals() }}</dd>
        <dt>{{ match.visitor }}</dt><dd>{{ match.getVisitorGoals() }}</dd>
    </tr>
{% else %}
    <dt>SIN JUGAR</dt>
    <dd><a href="ẍx"><i class="fa fa-plus-circle"></i>Cargar resultado</a></dd>
{% endif %}
</table>
{% endmacro %}