{% if admin.hasRoute('autogenerateFixture') and admin.id(object) and admin.isGranted('EDIT', object) %}
    <a id="autogenerate_fixture" class="sonata-action-element" href="{{ admin.generateObjectUrl('autogenerateFixture', object) }}">
        <i class="fa fa-calendar"></i>
        {{ 'Generar fixture' | trans }}
    </a>
{% endif %}