{% if admin.hasRoute('inscriptionsDiscount') and admin.id(object) and admin.isGranted('EDIT', object) %}
    <a id="inscriptions_discount" class="sonata-action-element" href="{{ admin.generateObjectUrl('inscriptionsDiscount', object) }}">
        <i class="glyphicon glyphicon-usd"></i>
        {{ 'Descontar inscripciones' | trans }}
    </a>
{% endif %}