{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block show %}
    {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

    <div class="sonata-ba-view">
        <div class="row">
            <div class="col-md-3">
                <div class="team-flag-medium">
                    <img src="{{ object.flag }}"/>
                </div>
                <h2>{{ object.name }}</h2>

                <p> Delegados </p>
                {% if object.delegates | length > 0 %}
                    <table class="table table-condensed table-stripped">
                        {%  for delegate in object.delegates %}
                            <tr>
                                <td><a href="{{ path('tournament_player_edit',{ 'id':delegate.id }) }}">{{ delegate }}</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    Este equipo no tiene delegados asignados
                {% endif %}
                
                <div>
                    
                </div>
            </div>
            <div class="col-md-8">
                <h2> Equipo </h2>
                {% for tournamentParticipation in object.tournamentParticipations %}
                    <h3>{{ tournamentParticipation.tournament.name }}</h3>
                    <a href="{{ path('tournament_player_create') }}" class="btn btn-success pull-right">{{ 'Agregar jugador' | trans }}</a>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Número</th>
                                <th>Nombre y Apellido</th>
                                <th>DNI</th>
                                <th>Fecha de nacimiento</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for player in tournamentParticipation.players %}
                                <tr>
                                    <td>{{ player.number }}</td>
                                    <td><a href="{{ path('tournament_player_edit',{ 'id':player.id }) }}">{{ player }}</a></td>
                                    <td>{{ player.dni }} </td>
                                    <td> {{ player.birth |date('d/m/Y') }}</td>
                                {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            </div>
        </div>

        {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}

    </div>
{% endblock %}