{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div class="team-flag-tiny small-padding">
        <img src="{{ object.flag }}" style="margin-right:10px;"/>
        <a href="{{ path('tournament_team_show',{ 'id':object.id }) }}">{{ object.name }}</a>
    </div>
{% endblock %}