<a id="autogenerate_fixture" class="btn btn-default btn-sm" href="{{ admin.generateObjectUrl('autogenerateFixture', object) }}">
    <span class="glyphicon glyphicon-calendar"></span> 
    {{ 'Generar fixture' | trans }}
</a>