{% extends 'SonataAdminBundle:CRUD:base_new.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            field = $('#{{ admin.uniqid ~ "_generateFixture" }}');
            field.on('ifChecked', function () {
                if (!confirm('Al generar el nuevo fixture, se eliminará el fixture actual para este torneo.')) {
                    var cual = this;
                    setTimeout(function () {
                        $(cual).iCheck('uncheck');
                    }, 1);
                }
            });
        });
    </script>
{% endblock %}