{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_admin_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Tabla de posiciónes</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Equipo</th>
                            <th>PJ</th>
                            <th>PG</th>
                            <th>PE</th>
                            <th>PP</th>
                            <th>GF</th>
                            <th>GC</th>
                            <th>Pts</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tt in teamsInTournament %}
                            <tr>
                                <td>{{ tt.team.name }}</td>
                                <td>{{ positions[tt.id]['pj'] }}</td>
                                <td>{{ positions[tt.id]['pg'] }}</td>
                                <td>{{ positions[tt.id]['pe'] }}</td>
                                <td>{{ positions[tt.id]['pp'] }}</td>
                                <td>{{ positions[tt.id]['gf'] }}</td>
                                <td>{{ positions[tt.id]['gc'] }}</td>
                                <td>{{ positions[tt.id]['pts'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}