{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block actions %}

    <li>{% include 'SonataAdminBundle:Button:edit_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>
    <li>{% include 'TournamentBundle:Button:autogenerate_fixture.html.twig' %}</li>
    <li>{% include 'TournamentBundle:Button:inscriptions_discount.html.twig' %}</li>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            field = $('#autogenerate_fixture');
            field.on('click', function () {
                $.ajax({
                });
                return confirm('Al generar el nuevo fixture, se eliminará el fixture actual para este torneo.');
            });
        });
    </script>
{% endblock %}

{% block show %}

    {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

    <div class="row">
        <div class="col-md-12">
            <h1>Torneo {{ object.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <dl class="dl-horizontal">
                        <dt>Tipo</dt>
                        <dd>{{ object.type }}</dd>

                        <dt>Estado</dt>
                        <dd>{{ object.status }}</dd>

                        <dt>Fecha de Inicio</dt>
                        <dd>{{ object.dateBegin | date('d/m/Y ') }}</dd>

                        <dt>Fecha de Fin</dt>
                        <dd>{{ object.dateEnd| date('d/m/Y') }}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl class="dl-horizontal">
                        <dt>Registro de participantes abierto?</dt>
                        <dd>{{ object.isRegistrationOpen }}</dd>

                        <dt>Costo de inscripcion</dt>
                        <dd>{{ object.inscriptionCostPerTeam }}</dd>

                        <dt>Costo por equipo por partido</dt>
                        <dd>{{ object.matchCostPerTeam }}</dd>
                    </dl>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h2>Equipos participantes</h2>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <td colspan="2">Equipo</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for team in object.teams %}
                                <tr>
                                    <td>
                                        <div class="team-flag-tiny pull-left">
                                            <img src="{{ team.flag }}"/>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="{{ path('tournament_team_show',{'id': team.id }) }}">{{ team.name }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <h2>Fixture</h2>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="panel-group" id="fixture" role="tablist" aria-multiselectable="true">
                                {% for round in object.rounds %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="heading_collapse_round_{{ round.id }}">
                                            <h4 class="panel-title">
                                                <a class="pull-right" href="{{ path('tournament_round_show', { 'id': round.id}) }}"><i class="fa fa-edit"></i>    </a>
                                                <a role="button" data-toggle="collapse" data-parent="#fixture" href="#collapse_round_{{ round.id }}" aria-expanded="false" aria-controls="collapse_round_{{ round.id }}">
                                                    {{ round }}
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse_round_{{ round.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_collapse_round_{{ round.id }}">
                                            <div class="panel-body">
                                                {% for match in round.matches %}
                                                    <p>{{ match.orderInRound }} : {{ match.local }} vs {{ match.visitor }}
                                                        ({{ match.court }} 
                                                        {% if match.dateAndTime is not null %}
                                                            {{ match.dateAndTime | date('d/m/Y H:i') }} hs
                                                        {% endif %}
                                                        )
                                                    </p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <script>
                        $("a.collapsed").attr("aria-expanded", "false");
                    </script>
                </div>
            </div>
        </div>
    </div>

    {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}

{% endblock %}