{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_admin_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Goleadores</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Jugador</th>
                            <th>Equipo</th>
                            <th>Goles</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in scorers %}
                            <tr>
                                <td>{{ p.player }}</td>
                                <td>{{ p.teamMatchParticipation.teamInTournament }}</td>
                                <td>{{ p.goals }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}