{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="sonata-feeds-container">
        {% if(tournaments is empty) %}
            <p>
                No hay torneos activos.
            </p>
        {% endif %}
        {% for tournament in tournaments %}
            <h2>Torneo: 
                <a href="{{ path('tournament_tournament_show',{'id': tournament.id}) }}">
                    {{ tournament.name }}
                </a>
            </h2>
            <div class="row">
                <div class="col-md-6">
                    {% if (actualRounds is not empty) %}
                        {% set actualRound = actualRounds[tournament.id] %}
                        {% if (actualRound is not null) %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Fecha actual: {{ actualRound.number }}
                                </div>
                                <div class="panel-body">
                                    {% for match in actualRound.matches %}
                                        <p>
                                            <a href="{{ path('tournament_footballmatch_show', { 'id': match.id }) }}">{{ match.local }} vs {{ match.visitor }}</a> - {{ match.status }}
                                        </p>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-md-6">
                    {% if (nextRounds is not empty) %}
                        {% set nextRound = nextRounds[tournament.id] %}
                        {% if (nextRound is not null) %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Proxima fecha: {{ nextRound.number }}
                                </div>
                                <div class="panel-body">
                                    {% for match in nextRound.matches %}
                                        <p>
                                            <a href="{{ path('tournament_footballmatch_edit', { 'id': match.id }) }}">{{ match.local }} vs {{ match.visitor }}</a> - {{ match.status }}
                                        </p>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}