{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% import "TournamentBundle:Default:macros.html.twig" as macros %}
{% block show %}

    <div class="sonata-ba-view">
        {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

    <div class="container-fluid">
        <div class="page-header">
            <small>Torneo {{ object.round.tournament.name }}</small>

        </div>

        <div class="row">
            <div class="col-md-6"><h1>Detalles del partido</h1></div>
            <div class="col-md-6"><h1>Resultado</h1></div>
        </div>
        <div class="row">

            <div class="col-md-3">
                <dl class="dl-horizontal">
                    <dt>Fecha</dt>
                    <dd>{{ object.round.number }}</dd>

                    <dt>Día y hora</dt>
                    <dd>{{ object.dateAndTime | date('d/m/Y H:i') }}</dd>

                    <dt>Referee</dt>
                    <dd>{% if object.referee %} <a href="{{ path('tournament_referee_show',{ 'id':object.referee.id  }) }}">{{ object.referee }}</a>{% else %} - {% endif %}</dd>

                 </dl>
            </div>
            <div class="col-md-3">
                <dl class="dl-horizontal">
                    <dt>Partido</dt>
                    <dd>{{ object.orderInRound }}</dd>

                    <dt>Cancha</dt>
                    <dd>{% if object.court %}<a href="{{ path('tournament_court_show',{ 'id': object.court.id }) }}">{{ object.court }}</a>{% else %} - {% endif %}</dd>


                    <dt>Estado</dt>
                    <dd>{% if object.status %} {{ object.status }}{% else %} - {% endif %} </dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    {{ macros.match_result(object) }}
                </dl>
            </div>
        </div>

        {% if (object.refereeObservations != null) and (object.refereeObservations | length > 0) %}
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Observaciones del referee</strong></p>
                    <p><em>{{ object.refereeObservations }}</em></p>
                </div>
            </div>
        {% endif %}

        <hr/>
        <div class="row">
            <div class="col-md-6">  {{ macros.showTeam(object.local,'right') }} </div>
            <div class="col-md-6">  {{ macros.showTeam(object.visitor,'left') }} </div>
        </div>
    </div>
        {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}
    </div>
{% endblock %}