{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% set round = object %}

{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:edit_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
        {#    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>#}
    {% endblock %}

{#{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}#}

{% block show %}
    <div class="sonata-ba-view">
        {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': round }) }}


        <table class="table table-bordered">
            <thead>
                <tr class="sonata-ba-view-title">
                    <th colspan="3">
                        {{ 'Ronda' | trans }}
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr class="sonata-ba-view-container">
                    <td colspan="1"><b>{{ 'Número' | trans }}:</b> {{ round.number }}</td>
                    <td colspan="1"><b>{{ 'Fecha' | trans }}:</b> {{ round.estimatedDate | date('Y-m-d') }}</td>
                    <td colspan="1"><b>{{ 'Torneo' | trans }}:</b> {{ round.tournament.name }}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <table class="table table-bordered">
            <thead>
                <tr class="sonata-ba-view-title">
                    <th colspan="5">
                        {{ 'Partidos' | trans }}
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for match in object.matches %}
                    <tr>
                        <td>
                            <b>{{ match.local }}</b> vs <b>{{ match.visitor }}</b>
                        </td>
                        <td>{{ 'Fecha y hora' | trans }}: 
                            {% if match.dateAndTime is not null %}
                                {{ match.dateAndTime | date('Y/m/d h:s') }}
                            {% endif %}
                        </td>
                        <td>{{ 'Cancha' | trans }}: {{ match.court }}</td>
                        <td>
                            <a href="{{ path('tournament_footballmatch_edit', {'id':match.id}) }}" class="btn btn-default btn-xs">
                                <span class='glyphicon glyphicon-edit'></span> Administrar</a>
                            <a href="{{ path('tournament_footballmatch_show', {'id':match.id}) }}" class="btn btn-default btn-xs">
                                <span class='glyphicon glyphicon-zoom-in'></span> Mostrar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


        {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}

    </div>
{% endblock %}
